@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
}

@layer components {
    .shine-red {
        text-shadow: 0 0 2px white, 0 0 4px red, 0 0 6px red;
    }

    .shine-white {
        text-shadow: 0 0 2px white, 0 0 4px white, 0 0 6px white;
    }

    .shine-black {
        text-shadow: 0 0 2px black, 0 0 4px black, 0 0 6px black;
    }
}